{% layout "base.liquid" %}
{% block content %}
<div class="login removescreen">
    <div class="login__background"></div>
    <div class="login__card">
        <h2>Are your sure?</h2>
        <span class="form-err-message">{{ data }}</span>
        <h3 class="removetitle">To confirm that you would like to delete your account, type out your password below (<span>this cannot be undone</span>):</h3>
        <form id="" action="/remove" method="POST">
            <label class="rmpasslabel" for="removePassword">Password</label>
            <input class="rmpass no-err" type="password" name="removePassword" id="removePassword" placeholder="Password">
            <button class="removeaccbutton">Delete account</button>
        </form>
        <a href="/profile">Cancel</a>
    </div>
</div>
{% endblock %}